.header-container {
    pointer-events: all;
    height: 60px;
    width: 100%;
    background: linear-gradient(180deg, #001E39 51.04%, #175F92 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../assets/image/header-left.png'), url('../../assets/image/header-right.png'), linear-gradient(180deg, #001E39 51.04%, #175F92 100%);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, 25%, 100%;
    color: #fff;
}

.header-container .mid {
    font-size: 30px;
    width: 780px;
    height: 100%;
    background-image: url("../../assets/image/header-mid.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-container .left {
    display: flex;
    align-items: center;
    font-family: 'DS-DIGI';
    font-size: 24px;
    padding-left: 120px;
    width: calc(calc(100% - 780px) / 2);
}
.left .time{
    width: 126px;
    font-size: 32px; 
    padding-right: 20px;
}

.header-container .right {
    width: calc(calc(100% - 780px) / 2);
}