#root {
  margin: 0;
  padding: 0;
}

.canvas-container {
  height: 100vh;
  width: 100%;
}

.content {
  /* transform: translate3d(-10px, -120px, 0); */
  pointer-events: none;
  text-align: left;
  background: rgba(47, 47, 193, 0.6);
  color: white;
  padding: 10px 20px;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
}